{% block javascripts %}
    <script>

    </script>
{% endblock %}
{% block style %}
    <style>
        .career {
            background-color: rgb(var(--color-primary-darker));
            padding: 80px;
        }

        ul.career-element {
            max-width: 1024px;
            margin: 0;
            padding: 0 0 0 64px;
            -webkit-transform: translateZ(0);
        }

        @media screen and (max-width: 1020px){
            .career {
                padding: 32px;
            }
        }
    </style>
{% endblock %}
{% block body %}
    {% set career = [
        {'date': '2013',
            'contentDate': '2013-2017',
            'content': 'ging ich in die Grundschule Werther, dort habe ich meine gute Teamfähigkeit und meine Hilfsbereitschaft, durch viele Gruppenarbeiten und Projekttage entwickelt.',},
        {'date': '2017',
            'contentDate': 'seit 2017',
            'content': 'besuche ich das Evangelische Gymnasium Werther und hier baue ich meine Kenntnisse und Fähigkeiten in den Bereichen Informatik, Englisch, Physik, Teamkfähigkeiten, Hilfsbereischaft und Zuverlässigkeit durch das Lernkonzept aus.',
        },
        {'date': '2020',
            'contentDate': '2020',
            'content': 'Haben ich und ein Freund ein solarangetriebenes Miniauto entwickelt und gebaut.Mit unserem Auto haben wir den Umweltspreis bei Jugend forscht gewonnen.',
        },
        {'date': '2023',
            'contentDate': '2023',
            'content': 'Absolvierte ich ein zwei-wöchiges Praktikum bei HDNET, wobei ich diese Website programmiert und designet habe. Zudem habe ich viele neue Erkenntnisse und Erfahrungen im Bereich IT gesammelt.',
        },
    ] %}
    <section id="career" class="career">
        <h2 class="text-uppercase">Werdegang</h2>
        <ul class="career-element">
            {% for item in career %}
                {% include 'components/career/timeline.html.twig' %}
            {% endfor %}
        </ul>
    </section>
{% endblock %}
